* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 50vh;
  flex-direction: row;
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  font-family: 'Arial';
  margin: 15px auto;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
}

th, td {
  color: #999;
  max-width: 100vw;
  border: 1px solid #eee;
  padding: 5px 25px;
  border-collapse: collapse;
}

th {
  background: #BCAC9B;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;

  &.last {
    border-right: none;
  }
}

table.a {
  table-layout: auto;
  width: 100%;
}

.col-1 {
  background: #D7E8D4;
  flex: 1;
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.content {
  display: flex;
  flex-direction: row;
}

.content>article {
  flex: 4;
  min-height: 20vh;
}

.overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header, footer {
  background: #C17C74;
  font-family: 'Arial';
  font-size: 120%;
  color: #DDC9B4;
  font-weight: bold;
  height: 10vh;
}

header, footer, article, nav {
  padding: 1em;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
